//sidepar style
.sidepar{
    background-color: white;
    z-index: 40;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 20px;
    width: 230px;
    text-align: center;
    img{
        margin: 0 auto;
    }
    .list-side{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        .link{
            padding: 10px 20px;
            display: flex;
            gap: 20px;
            font-size: 20px;
            
        }
    }
}
.active-Side-check{
    background-color: rgb(165 165 255 / 27%) !important;
    color: rgb(66 114 255) !important;
}
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9;
}



//head content styles

.btn:hover {
    background-color: var(--second-color) !important;
    color: white !important;
}

//about section styles
.btn-about:hover {
    border-color: var(--main-color) !important;
}

//slider styles
.slick-track{
    display: flex !important;
    gap: 5px;
    direction: rtl;
}
.arrow-slider{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: var(--second-color) !important;
    z-index: 5 !important;
    border-radius: 50% !important;
    width: 48px !important;
    height: 48px !important;
    background: white !important;
}
.arrow-slider::before,.arrow-slider::after{
    display: none !important;
}
.card-realState{
    transition: .5s;
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.08);
        &:hover{
        box-shadow:  0px 10px 16px 0px rgba(131, 131, 131, 0.267);
        .image-realState{
            transition: .5s;
            transform: scale(1.2);
        }
    }
    .title{
        color: rgba(44, 44, 44, 1);
    }
    .features-realState{
        p{
            color: rgba(44, 44, 44, 1);
            font-size: 14px;
        }
    }
    
}

//services section:

.card-services{
    gap: 20px;
    div{
        background-color: white;
        border-radius: 5px;
        padding: 35px;
        border: 1px solid var(--main-color);
        h2{
            font-size: 24px;
            font-weight: 600;
            margin: 18px 0;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            color: rgba(67, 67, 67, 1);
            width: 82%;
        }
    }
}

//communication:
.communication{
    margin-top: 80px !important; 
}


//Responsive
@media (max-width:780px) {
    .container{
        width: 95%;
    }
    .navbar{
        ul, .btn-comunicate{
            display: none !important;
        }
        .menu-icon{
            display: block !important;
        }
    }
    .Head-content{
        padding-top: 50px !important;
        flex-direction: column !important;
        gap: 20px;
        .text{
            width: 100%;
            h1{
                font-size: 35px !important;
                line-height: 41px !important;
                margin-bottom: 20px !important;
            }
        }
        .btns{
            margin-top: 30px;
        }
        .box-image{
            justify-content: center;
        }
    }

    .section-about{
        padding: 30px 0 20px 0;
        .container{
            flex-direction: column;
            gap: 20px;
            .text{
                width: 100%;
                h2{
                    font-size: 22px;
                }
            }
        }
    }


        .head{
            h1{
                font-size: 20px !important;
            }
            a{
                font-size: 14px !important;
                width: 112px !important;
            }
        }


    .section-services{
        padding-top: 30px !important;
        .card-services{
            flex-wrap: wrap;
        }
    }
}