

.about-us{
    .content{
        .p-head{
            color: rgba(108, 108, 108, 1);
            line-height: 24px;
            margin-top: 10px;
        }
        .text p,.features-eissa p{
                color: rgba(108, 108, 108, 1);
            
        }
        .why-choose-eissa{
            margin-top: 80px;
            .features-eissa{
                margin-top: 30px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between; 
                // gap: 24px;
                div{
                    width: max-content;   
                    height: 72px;
                    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    background-color: white;
                    padding: 0 16px;
                    white-space: nowrap; 
                    p{
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}











@media (max-width:800px) {
    .about-us{
        .container{
            .miayar-eissa{
                flex-direction: column;
                gap: 20px;
            }
            .features-eissa{
                justify-content: center;
                gap: 20px !important;
                div{
                    width: 100% !important;
                }
            }
        }
    }
}
@media (min-width:800px) and (max-width:1030px) {
    .about-us{
        .container{
            .miayar-eissa{
                flex-direction: column;
                gap: 20px;
            }
            .features-eissa{
                gap: 20px;
                justify-content: center !important;
            }
        }
    }
}